@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

$font-VT: 'VT323', monospace;
$font-major: 'Major Mono Display', monospace;
$font-kanti: 'Kanit', sans-serif;